@charset "utf-8";
/* CSS Document */
body{padding:0;margin:0;background-color:#fff;}
a{text-decoration:none;}
h1{font-family:'Roboto', sans-serif;}
h2{font-family:'Spectral', serif;}
p{font-family:'Spectral', serif;}
li{list-style-type:none;}

.flex{
	display:flex;
}
.flex_1{
	flex:1;
}

.contenu{
	margin:80px;
	box-shadow:2px 2px 6px rgba(0, 0, 0, 0.1);
}

.menu{
	position:fixed;
	width:50px;
	height:100%;
	background-color:rgba(20, 20, 20, 0.95);
}

.fond{
	background-color:#FDF2E9;
	height:250px;
}
.bloc_bleu{
	padding:50px 0;
	margin-top:50px;
}

.profil{
	width:300px;
	margin:auto;
}
	.photo{
		margin-top:-180px;
		background-color:aqua;
		width:270px;
		height:270px;
		border-radius:50%;
		overflow:hidden;
		border:10px solid #FDF2E9;
	}
	.photo img{
		width:135%;
	}

.presentation{
	flex:1;
	margin:auto;
	width:700px;
}
	.presentation .name{
		color:#333;
		font-size:1.7em;
		text-align: center;
	}
	.presentation .spe{
		color:#333;
		margin-top:-30px;
		text-align: center;
	}
	.contact{
		padding-left:30px;
	}
	.contact i{
		font-size:1.3em;
		margin-top:10px;
	}
	.contact span{
		color:#333;
		margin-left:15px;
	}

.bloc_lien{
	margin:0 300px 0 300px;
}
	.bloc_lien li{
		display:inline-block;
	}
	.lien i{
		font-size:2em;
		color:#333;
	}
	.bloc_lien li:hover .lien i, .bloc_lien li:hover .name_lien{
		color:#5499C7;
	}
	.name_lien{
		font-family:'Roboto', sans-serif;
		font-size:1.4em;
		color:#333;
		padding:4px 50px 0 10px;
	}
	.bloc_lien ul{
		text-align: center
	}